{% extends "layout.html" %}
{% block content %}
<div id="accountForm">
    <div id="accountContainer">
        <div class="profile flex-no_space" class="flex-no_space">
            <img src="{{ image_file }}" height="125" width="125">
            <div class="profile_details">
                <span class="user_account"> {{ current_user.username }} </span>
                <span class="email_account"> {{ current_user.email }} </span>
            </div>
        </div>
        <form method="POST" action="{{ url_for('users.change_password_form') }}" enctype="multipart/form-data">    
            <div class="account_details">
                <h4> Change Password </h4>
                {{ form.hidden_tag() }}
                {{ form.old_password.label() }}
                {{ form.old_password() }}
                {% if form.old_password.errors %}
                    {% for error in form.old_password.errors %}
                        <span class="error_message"> {{ error }} </span>
                    {% endfor %}
                {% endif %}
                {{ form.new_password.label() }}
                {{ form.new_password() }}
                {% if form.new_password.errors %}
                    {% for error in form.new_password.errors %}
                        <span class="error_message"> {{ error }} </span>
                    {% endfor %}
                {% endif %}
                {{ form.confirm_new_password.label() }}
                {{ form.confirm_new_password() }}
                {% if form.confirm_new_password.errors %}
                    {% for error in form.confirm_new_password.errors %}
                        <span class="error_message"> {{ error }} </span>
                    {% endfor %}
                {% endif %}
            </div>
            {{ form.submit(class="update_acc_button") }}
        </form>
    </div>
</div>
{% endblock content %}